# Scaleway Access Key
scw_access_key = "XXXXXXXXXXXXXXXXXXXX"

# Scaleway Token
scw_token = "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"

# Scaleway Organization ID
scw_org = "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"

# Rancher Server URL
rancher_server_url = "http://rancher.example.com"

# Admin password to access Rancher
admin_password = "xxxxxxxxxxxx"

# Resources will be prefixed with this to avoid clashing names
prefix = "xxxxxxx"

# rancher/rancher image tag to use
rancher_version = "latest"

# Region where resources should be created
region = "par1"

# Zone where resources should be created
zone = "fr-par-1"

# Docker version of host running `rancher/rancher`
docker_version_server = "19.03"

# Scaleway instance type
type = "DEV1-S"

cloudflare_email = "your@example.com"

cloudflare_api_key = "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"

cloudflare_zone_id = "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
