# Scaleway Access Key
scw_access_key = "XXXXXXXXXXXXXXXXXXXX"

# Scaleway Token
scw_token = "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"

# Scaleway Organization ID
scw_org = "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"

# Admin password to access Rancher
admin_password = "xxxxxxxxxxxx"

# Resources will be prefixed with this to avoid clashing names
prefix = "tmpenv"

# rancher/rancher image tag to use
rancher_version = "latest"

# Region where resources should be created
region = "par1"

rancher_server_address = "rancher.example.com"

cluster_name = "tmpenv"

# Count of agent nodes with role all
count_agent_all_nodes = "1"

# Count of agent nodes with role etcd
count_agent_etcd_nodes = "0"

# Count of agent nodes with role controlplane
count_agent_controlplane_nodes = "0"

# Count of agent nodes with role worker
count_agent_worker_nodes = "0"

# Docker version of host being added to a cluster (running `rancher/rancher-agent`)
docker_version_agent = "19.03"

# Scaleway instance type
type = "DEV1-M"

cloudflare_email = "your@example.com"

cloudflare_api_key = "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"

cloudflare_zone_id = "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
